
body{
  font-family: Arial;
  background: #f0f0f0;
  padding: 20px;
}

.formulario{
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 320px;
}

input, textarea{
  width: 100%;
  margin: 5px 0;
  padding: 6px;
}

button{
  background: purple;
  color: white;
  border: none;
  padding: 6px;
}

.comentario{
  background: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
}



