

margin-bottom: 15px;
}


.precio{
font-size: 26px;
margin-top: 15px;
color: #fff;
}


/* ----- GALERÍA ----- */
.galeria{
background: #0e0e1f;
padding: 50px 10px;
text-align: center;
}


.galeria h2{
color: pink;
margin-bottom: 20px;
}


.contenedor{
display: flex;
flex-wrap: wrap;
justify-content: center;
}


.imagen{
width: 260px;
margin: 10px;
border-radius: 10px;
transition: .4s;
box-shadow: 0 0 10px black;
}


.imagen:hover{
transform: scale(1.15) rotate(2deg);
box-shadow: 0 0 20px #ff2d6f;
}


/* ----- UBICACIÓN ----- */
.ubicacion{
background: linear-gradient(120deg,#c33764,#1d2671);
color: white;
text-align: center;
padding: 40px 20px;
}


.tel{
margin-top: 10px;
font-size: 22px;
}


/* ----- FOOTER ----- */
.pie{
background: #050510;
color: pink;
text-align: center;
padding: 20px;
}


/* ----- ANIMACIÓN ----- */
@keyframes aparecer{
from{
opacity: 0;
transform: translateY(40px);
}
to{
opacity: 1;
transform: translateY(0);
}
}


/* ----- RESPONSIVO ----- */
@media(max-width: 700px){


.capa h1{
font-size: 50px;
}


.imagen{
width: 90%;
}
}

