
body{
  font-family: Arial;
  background: #f0f0f0;
  padding: 20px;
}

.formulario{
  background: white;
  padding: 15px;
  border-radius: 10px;
  width: 320px;
  margin-bottom: 20px;
}

input, textarea{
  width: 100%;
  margin: 5px 0;
  padding: 6px;
}

button{
  background: purple;
  color: white;
  border: none;
  padding: 6px;
  cursor: pointer;
}

.comentario{
  background: white;
  margin: 10px 0;
  padding: 10px;
  border-radius: 8px;
}

.respuesta{
  background: #e8e8ff;
  margin: 5px 0 5px 20px;
  padding: 6px;
  border-radius: 6px;
}

.caja-respuesta{
  margin-top: 5px;
}

.oculto{
  display: none;
}


